In [ ]:
# default_exp core

# 00 Prodb API details

> `nbdev` Example function.

## Example (temp)

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [ ]:
say_hello('Luke')

'Hello Luke!'

In [ ]:
assert say_hello('Luke')=='Hello Luke!'

## Prodb API
Create pandas dataframe for manipulation

In [ ]:
#export
#hide
import pandas as pd
import arrow
from time import gmtime, strftime

In [ ]:
# export

def generate_db(prefill=False):
    if prefill:
        df = pd.DataFrame({'name': ['Sam', 'Grant'],
                           'location': ['UK', 'NZ'],
                           'score': [0, 30],
                           'time_utc' : [arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                                         arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')]})
    else:
        df = pd.DataFrame(columns=['name', 'location', 'score', 'time_utc'])
    df.to_csv('db.csv', index=None)

In [ ]:
generate_db(prefill=True)
df = pd.read_csv('db.csv')
df.head()

    name location  score             time_utc
0    Sam       UK      0  2021-09-30 20:31:40
1  Grant       NZ     30  2021-09-30 20:31:40

In [ ]:
#export

def insert_row(df, data, db_path='db.csv'):
    new_row = pd.Series({'time_utc' : arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                         'name':data['name'], 
                         'location': data['location'], 
                         'score': data['score']})
    df = df.append(new_row, ignore_index=True)
    df.to_csv(db_path, index=None)
    return df

In [ ]:
df = pd.read_csv('db.csv')
display(df.head())

data = {'name':'Geo', 'location': 'JP', 'score':5}
df = insert_row(df, data)
display(df)

    name location  score             time_utc
0    Sam       UK      0  2021-09-30 20:31:40
1  Grant       NZ     30  2021-09-30 20:31:40

    name location  score             time_utc
0    Sam       UK      0  2021-09-30 20:31:40
1  Grant       NZ     30  2021-09-30 20:31:40
2    Geo       JP      5  2021-09-30 20:31:41

In [ ]:
data = {'name':'Bill', 'location': 'JP', 'score':None}
df = insert_row(df, data)
display(df)

    name location score             time_utc
0    Sam       UK     0  2021-09-30 20:31:40
1  Grant       NZ    30  2021-09-30 20:31:40
2    Geo       JP     5  2021-09-30 20:31:41
3   Bill       JP  None  2021-09-30 20:31:46