In [ ]:
# default_exp core

# 00 Prodb API details

> `nbdev` Example function.

## Example (temp)

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [ ]:
say_hello('Luke')

'Hello Luke!'

In [ ]:
assert say_hello('Luke')=='Hello Luke!'

## Prodb API
Create pandas dataframe for manipulation

In [ ]:
#export
#hide
import pandas as pd
from time import gmtime, strftime

In [ ]:
# export

def generate_db():
    df = pd.DataFrame({'name': ['Sam', 'Grant'],
                       'location': ['UK', 'NZ'],
                       'score': [0, 30],
                       'time_utc' : [strftime("%H:%M:%S", gmtime()), strftime("%H:%M:%S", gmtime())],})
    df.to_csv('db.csv', index=None)
    print('-> created data.csv')

generate_db()
df = pd.read_csv('db.csv')
df.head()

-> created data.csv

    name location  score  time_utc
0    Sam       UK      0  13:46:05
1  Grant       NZ     30  13:46:05

In [ ]:
#export

def insert_row(df, data):
    new_row = pd.Series({'time_utc' : strftime("%H:%M:%S", gmtime()),
                         'name':data['name'], 
                         'location': data['location'], 
                         'score': data['score']})
    df = df.append(new_row, ignore_index=True)
    return df

In [ ]:

df = pd.read_csv('db.csv')
display(df.head())

data = {'name':'Geo', 'location': 'JP', 'score':5}
df = insert_row(df, data)
display(df)

    name location  score  time_utc
0    Sam       UK      0  13:46:05
1  Grant       NZ     30  13:46:05

    name location  score  time_utc
0    Sam       UK      0  13:46:05
1  Grant       NZ     30  13:46:05
2    Geo       JP      5  13:46:08

In [ ]:
data = {'name':'Bill', 'location': 'JP', 'score':None}
df = insert_row(df, data)
display(df)

   time_utc   name location score
0  13:29:36    Sam       UK     0
1  13:29:36  Grant       NZ    30
2  13:29:36    Geo       JP     5
3  13:29:36   Bill       JP  None
4  13:29:39   Bill       JP  None