In [ ]:
# default_exp core

# 00 Prodb API details

> `nbdev` Example function.

## Example (temp)

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [ ]:
say_hello('Luke')

'Hello Luke!'

In [ ]:
assert say_hello('Luke')=='Hello Luke!'

## Prodb API
Create pandas dataframe for manipulation

In [ ]:
#export
#hide
import pandas as pd
import arrow
from time import gmtime, strftime

In [ ]:
# export

def generate_db(prefill=False):
    if prefill:
        df = pd.DataFrame({'name': ['Sam', 'Grant'],
                           'mood': ['ðŸ˜Š', 'ðŸ˜µ'],
                           'message': ['hi', 'hello'],
                           'time_utc' : [arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                                         arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')]})
    else:
        df = pd.DataFrame(columns=['name', 'mood', 'message', 'time_utc'])
    df.to_csv('db.csv', index=None)

In [ ]:
generate_db(prefill=True)
df = pd.read_csv('db.csv')
df.head()

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-09-30 22:23:32
1  Grant    ðŸ˜µ   hello  2021-09-30 22:23:32

In [ ]:
#export

def insert_row(df, data, db_path='db.csv'):
    new_row = pd.Series({'time_utc' : arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                         'name':data['name'], 
                         'mood': data['mood'], 
                         'message': data['message']})
    df = df.append(new_row, ignore_index=True)
    df.to_csv(db_path, index=None)
    return df

In [ ]:
df = pd.read_csv('db.csv')
display(df.head())

data = {'name':'Geo', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)
display(df)

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-09-30 22:23:32
1  Grant    ðŸ˜µ   hello  2021-09-30 22:23:32

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-09-30 22:23:32
1  Grant    ðŸ˜µ   hello  2021-09-30 22:23:32
2    Geo    ðŸ‘¹      hi  2021-09-30 22:23:44

In [ ]:
data = {'name':'Bill', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)
display(df)

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-09-30 22:23:32
1  Grant    ðŸ˜µ   hello  2021-09-30 22:23:32
2    Geo    ðŸ‘¹      hi  2021-09-30 22:23:44
3   Bill    ðŸ‘¹      hi  2021-09-30 22:23:51