# 02 Import Prodb
> Library imports are available inline

In [ ]:
#hide
from nbdev.showdoc import *
import pandas as pd
%load_ext autoreload
%autoreload 2

In [ ]:
from prodb.card import Card

In [ ]:
Card(suit=3, rank=12)

Queen of Spades

A deck of cards is a collection of Card objects:

In [ ]:
from prodb.card import Deck

In [ ]:
deck = Deck()

Three random cards from the deck:

In [ ]:
deck.shuffle()
print(deck.cards[:3])

[4 of Diamonds, 2 of Hearts, 9 of Spades]

In [ ]:
assert isinstance(deck.pop_card(), Card)

## Show documentation

In [ ]:
from nbdev import *

In [ ]:
# show_doc(Deck.remove_card)

## Arrow human readable time

In [ ]:
import pandas as pd
import arrow

In [ ]:
utc = arrow.utcnow()

In [ ]:
utc.humanize()

'just now'

In [ ]:
from prodb.core import generate_db

In [ ]:
generate_db(prefill=True)
dbpath = 'db.csv'
df = pd.read_csv(dbpath)

In [ ]:
df.head()

    name location  score             time_utc
0    Sam       UK      0  2021-09-30 20:32:02
1  Grant       NZ     30  2021-09-30 20:32:02

In [ ]:
df.dtypes

name        object
location    object
score        int64
time_utc    object
dtype: object

In [ ]:
df.time_utc[0]

'2021-09-30 20:32:02'

In [ ]:
arrow.get(df.time_utc[0]).humanize()

'a minute ago'

In [ ]:
df.time_utc.apply(lambda x: arrow.get(x).humanize())

0    2 minutes ago
1    2 minutes ago
Name: time_utc, dtype: object

In [ ]:
df['human'] = df.time_utc.apply(lambda x: arrow.get(x).humanize())
df.head()

    name location  score             time_utc          human
0    Sam       UK      0  2021-09-30 20:32:02  2 minutes ago
1  Grant       NZ     30  2021-09-30 20:32:02  2 minutes ago

# Requests to `metaweather` open weather API

In [ ]:
import requests
import json

In [ ]:
query = "London"
url = f"https://www.metaweather.com/api/location/search/?query={query}"
r = requests.get(url)

In [ ]:
r.text

'[{"title":"London","location_type":"City","woeid":44418,"latt_long":"51.506321,-0.12714"}]'

In [ ]:
r.json()

[{'title': 'London',
  'location_type': 'City',
  'woeid': 44418,
  'latt_long': '51.506321,-0.12714'}]

In [ ]:
woeid = r.json()[0]['woeid']
woeid

44418

In [ ]:
url = f"https://www.metaweather.com/api/location/{woeid}/2021/10/03/"
r = requests.get(url)
res = r.json()
res[0]

{'id': 4750581731164160,
 'weather_state_name': 'Showers',
 'weather_state_abbr': 's',
 'wind_direction_compass': 'SW',
 'created': '2021-10-02T15:59:02.140584Z',
 'applicable_date': '2021-10-03',
 'min_temp': 10.399999999999999,
 'max_temp': 16.33,
 'the_temp': 15.690000000000001,
 'wind_speed': 9.984650223168694,
 'wind_direction': 227.00010156234282,
 'air_pressure': 998.5,
 'humidity': 63,
 'visibility': 15.052406446353297,
 'predictability': 73}

In [ ]:
df = pd.DataFrame.from_records(res)
df

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,4750581731164160,Showers,s,SW,2021-10-02T15:59:02.140584Z,2021-10-03,10.400,16.330,15.69,9.984650,227.000102,998.5,63,15.052406,73
1,5003488573521920,Light Rain,lr,SW,2021-10-02T12:59:02.349777Z,2021-10-03,10.270,16.155,15.64,9.911743,227.333465,998.5,63,14.842694,75
2,5572874636099584,Light Rain,lr,SW,2021-10-02T09:59:02.059263Z,2021-10-03,10.290,16.130,15.71,9.389188,226.666535,998.5,63,14.056970,75
3,4927797156904960,Light Rain,lr,SW,2021-10-02T06:59:01.778185Z,2021-10-03,10.300,16.195,15.21,9.356049,224.000305,998.5,65,14.511503,75
4,5242843208613888,Light Rain,lr,SW,2021-10-02T03:59:02.374609Z,2021-10-03,10.015,16.325,15.15,9.625259,222.666535,998.5,65,15.115476,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,5253789738074112,Heavy Rain,hr,SSW,2021-09-25T12:59:13.062403Z,2021-10-03,8.580,14.980,14.98,4.473873,212.000000,1008.0,62,NaN,77
58,5698984036270080,Heavy Rain,hr,SSW,2021-09-25T09:59:13.271142Z,2021-10-03,8.580,14.980,14.98,4.473873,212.000000,1008.0,62,NaN,77
59,5579815361970176,Heavy Cloud,hc,SSW,2021-09-25T06:59:13.969326Z,2021-10-03,13.520,18.160,17.43,4.200469,200.000000,1011.0,60,NaN,71
60,6247999530336256,Heavy Cloud,hc,SSW,2021-09-25T03:59:14.156368Z,2021-10-03,13.520,18.160,17.43,4.200469,200.000000,1011.0,60,NaN,71
61,6317253101355008,Heavy Cloud,hc,SSW,2021-09-25T00:59:13.465527Z,2021-10-03,13.520,18.160,17.43,4.200469,200.000000,1011.0,60,NaN,71