# 02 Import Prodb
> Library imports are available inline

In [ ]:
#hide
from nbdev.showdoc import *
%load_ext autoreload
%autoreload 2

In [ ]:
from prodb.card import Card

In [ ]:
Card(suit=3, rank=12)

Queen of Spades

A deck of cards is a collection of Card objects:

In [ ]:
from prodb.card import Deck

In [ ]:
deck = Deck()

Three random cards from the deck:

In [ ]:
deck.shuffle()
print(deck.cards[:3])

[4 of Diamonds, 2 of Hearts, 9 of Spades]

In [ ]:
assert isinstance(deck.pop_card(), Card)

## Show documentation

In [ ]:
from nbdev import *

In [ ]:
# show_doc(Deck.remove_card)

## Arrow human readable time

In [ ]:
import pandas as pd
import arrow

In [ ]:
utc = arrow.utcnow()

In [ ]:
utc.humanize()

'just now'

In [ ]:
from prodb.core import generate_db

In [ ]:
generate_db(prefill=True)
dbpath = 'db.csv'
df = pd.read_csv(dbpath)

In [ ]:
df.head()

    name location  score             time_utc
0    Sam       UK      0  2021-09-30 20:32:02
1  Grant       NZ     30  2021-09-30 20:32:02

In [ ]:
df.dtypes

name        object
location    object
score        int64
time_utc    object
dtype: object

In [ ]:
df.time_utc[0]

'2021-09-30 20:32:02'

In [ ]:
arrow.get(df.time_utc[0]).humanize()

'a minute ago'

In [ ]:
df.time_utc.apply(lambda x: arrow.get(x).humanize())

0    2 minutes ago
1    2 minutes ago
Name: time_utc, dtype: object