In [ ]:
# default_exp core

# 00 Prodb API details

> `nbdev` Example function.

In [ ]:
#hide
from nbdev.showdoc import *

## Prodb API
Create pandas dataframe for manipulation

In [ ]:
#export
#hide
import pandas as pd
import arrow
import os
from time import gmtime, strftime

## 1.0 Generate Db
Initialise database with `generate_db` call.

In [ ]:
# export

def generate_db(dbpath='db.csv', 
                cols=['c1', 'c2', 'c3'],
                prefill=False):
    """Create example database"""
    if prefill:
        df = pd.DataFrame({'name': ['Sam', 'Grant'],
                           'mood': ['ðŸ˜Š', 'ðŸ˜µ'],
                           'message': ['hi', 'hello'],
                           'time_utc' : [arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                                         arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')]})
    else:
        df = pd.DataFrame(columns=cols)
    df.to_csv(dbpath, index=None)
    print(f'âœ“ðŸ’¾ {dbpath} ({os.path.getsize(dbpath)} kb)')
    return df

Generate empty `db` object with arbitary columns.

In [ ]:
df = generate_db(cols=['c1', 'c2', 'c3'])
df.head()

âœ“ðŸ’¾ db.csv (10 kb)

Empty DataFrame
Columns: [c1, c2, c3]
Index: []

Generate `db` with some example data.

In [ ]:
df = generate_db(prefill=True)
df.head()

âœ“ðŸ’¾ db.csv (99 kb)

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-11-04 14:58:59
1  Grant    ðŸ˜µ   hello  2021-11-04 14:58:59

## 2.0 Insert Row

In [ ]:
#export

def insert_row(df, data, dbpath='db.csv'):
    new_row = pd.Series(data)
    df = df.append(new_row, ignore_index=True)
    df.to_csv(dbpath, index=None)
    return df

def insert_rows(df, data, dbpath='db.csv'):
    new_rows = pd.DataFrame.from_dict(data)
    df = df.append(new_rows, ignore_index=True)
    df.to_csv(dbpath, index=None)
    return df

### Example: Insert single row

In [ ]:
df = generate_db(cols='name mood message'.split())

# ================================================================ #

data = {'name':'George', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)

# ================================================================ #

display(df)

âœ“ðŸ’¾ db.csv (19 kb)

     name mood message
0  George    ðŸ‘¹      hi

### Example: Insert multiple rows
Note: `prodb` allows additional columns to be added after the database has been initialised.   
 
i.e. the `['name', 'mood', 'message']` columns that initialise the db, play nice when the additional `time_utc` dict is passed in. NaNs are imputed for previous rows.

First, a helper function to clean up timestamp calls.

In [ ]:
# export
def utc_now():
    return arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')

In [ ]:
df = generate_db(cols='name mood message'.split())

# ================================================================ #

data = {'name': ['Sam', 'Grant'],
        'mood': ['ðŸ˜Š', 'ðŸ˜µ'],
        'message': ['hello from London, UK', 'hello from Christchurch, NZ'],
        'time_utc' : [utc_now(), utc_now()]}

df = insert_rows(df, data)

# ================================================================ #

display(df)

âœ“ðŸ’¾ db.csv (19 kb)

    name mood                      message             time_utc
0    Sam    ðŸ˜Š        hello from London, UK  2021-11-04 15:04:55
1  Grant    ðŸ˜µ  hello from Christchurch, NZ  2021-11-04 15:04:55

Add another entry to the bottom of the database using `insert_row()`.   

Note: Data columns from dictionary do not need to be in pre-defined order.

In [ ]:
data = {'time_utc' : utc_now(),
        'name': 'Luke', 
        'mood': 'ðŸ‘¹', 
        'message': 'hello from London, UK'}
df = insert_row(df, data)

display(df)

    name mood                      message             time_utc
0    Sam    ðŸ˜Š        hello from London, UK  2021-11-04 15:04:55
1  Grant    ðŸ˜µ  hello from Christchurch, NZ  2021-11-04 15:04:55
2   Luke    ðŸ‘¹        hello from London, UK  2021-11-04 15:04:57

In [ ]:
data = {'name':'Bill', 'mood': 'ðŸ‘¹', 'message':'hi', 'time_utc':arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')}
df = insert_row(df, data)
display(df)

    name mood                      message             time_utc
0    Sam    ðŸ˜Š        hello from London, UK  2021-11-04 15:04:55
1  Grant    ðŸ˜µ  hello from Christchurch, NZ  2021-11-04 15:04:55
2   Luke    ðŸ‘¹        hello from London, UK  2021-11-04 15:04:57
3   Bill    ðŸ‘¹                           hi  2021-11-04 15:04:58

In [ ]:
#export
def display_readable(df, max_rows=8):
    if 'time_utc' in df.columns:
        df['human_time'] = df.time_utc.apply(lambda x: arrow.get(x).humanize())
    return df.tail(8)

In [ ]:
data = {'name':'Luke', 
        'mood': 'ðŸ˜Š', 
        'message':'hello, from UK',
        'time_utc':utc_now()}
df = insert_row(df, data)
display_readable(df, max_rows=10)

    name mood         message             time_utc     human_time
7   Bill    ðŸ˜Š  hello, from UK  2021-11-04 15:08:15    an hour ago
8   Bill    ðŸ˜Š  hello, from UK  2021-11-04 15:08:17    an hour ago
9   Bill    ðŸ˜Š  hello, from UK  2021-11-04 15:08:42    an hour ago
10  Bill    ðŸ˜Š  hello, from UK  2021-11-04 16:55:36  4 minutes ago
11  Bill    ðŸ˜Š  hello, from UK  2021-11-04 16:56:08  4 minutes ago
12  Bill    ðŸ˜Š  hello, from UK  2021-11-04 16:56:31  3 minutes ago
13  Luke    ðŸ˜Š  hello, from UK  2021-11-04 16:56:38  3 minutes ago
14  Luke    ðŸ˜Š  hello, from UK  2021-11-04 17:00:13       just now