In [3]:
# default_exp core

# 00 Prodb API details

> `nbdev` Example function.

In [4]:
#hide
from nbdev.showdoc import *

## Prodb API
Create pandas dataframe for manipulation

In [5]:
#export
#hide
import pandas as pd
import arrow
import os
from time import gmtime, strftime

## 1.0 Generate Db
Initialise database with `generate_db` call.

In [32]:
# export

def generate_db(dbpath='db.csv', 
                cols=['c1', 'c2', 'c3'],
                prefill=False):
    """Create example database"""
    if prefill:
        df = pd.DataFrame({'name': ['Sam', 'Grant'],
                           'mood': ['ðŸ˜Š', 'ðŸ˜µ'],
                           'message': ['hi', 'hello'],
                           'time_utc' : [arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                                         arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')]})
    else:
        df = pd.DataFrame(columns=cols)
    df.to_csv(dbpath, index=None)
    print(f'âœ“ðŸ’¾ {dbpath} ({os.path.getsize(dbpath)} kb)')
    return df

SyntaxError: non-default argument follows default argument (Temp/ipykernel_43808/878488914.py, line 5)

Generate empty `db` object with arbitary columns.

In [28]:
df = generate_db(cols=['c1', 'c2', 'c3'])
df.head()

âœ“ðŸ’¾ db.csv (10 kb)

Empty DataFrame
Columns: [c1, c2, c3]
Index: []

Generate `db` with some example data.

In [33]:
df = generate_db(prefill=True)
df.head()

âœ“ðŸ’¾ db.csv (99 kb)

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-11-04 14:37:54
1  Grant    ðŸ˜µ   hello  2021-11-04 14:37:54

## 2.0 Insert Row

In [53]:
#export

def insert_row(df, data, dbpath='db.csv'):
    new_row = pd.Series(data)
    df = df.append(new_row, ignore_index=True)
    df.to_csv(dbpath, index=None)
    return df

def insert_rows(df, data, dbpath='db.csv'):
    new_rows = pd.DataFrame.from_dict(data)
    df = df.append(new_rows, ignore_index=True)
    df.to_csv(dbpath, index=None)
    return df

### Example: Insert single row

In [54]:
df = generate_db(cols='name mood message'.split())

# ================================================================ #

data = {'name':'George', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)

# ================================================================ #

display(df)

âœ“ðŸ’¾ db.csv (19 kb)

     name mood message
0  George    ðŸ‘¹      hi

### Example: Insert multiple rows

In [55]:
df = generate_db(cols='name mood message'.split())

# ================================================================ #

data = {'name': ['Sam', 'Grant'],
        'mood': ['ðŸ˜Š', 'ðŸ˜µ'],
        'message': ['hello from London, UK', 'hello from Christchurch, NZ'],
        'time_utc' : [arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                      arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')]}

df = insert_rows(df, data)

# ================================================================ #

display(df)

âœ“ðŸ’¾ db.csv (19 kb)

    name mood                      message             time_utc
0    Sam    ðŸ˜Š        hello from London, UK  2021-11-04 14:42:07
1  Grant    ðŸ˜µ  hello from Christchurch, NZ  2021-11-04 14:42:07

Add another entry to the bottom of the database using `insert_row()`

In [56]:
data = {'time_utc' : arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
        'name': 'Luke', 
        'mood': 'ðŸ‘¹', 
        'message': 'hello from London, UK'}
df = insert_row(df, data)

display(df)

    name mood                      message             time_utc
0    Sam    ðŸ˜Š        hello from London, UK  2021-11-04 14:42:07
1  Grant    ðŸ˜µ  hello from Christchurch, NZ  2021-11-04 14:42:07
2   Luke    ðŸ‘¹        hello from London, UK  2021-11-04 14:42:08

In [57]:
data = {'name':'Bill', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)
display(df)

    name mood                      message             time_utc
0    Sam    ðŸ˜Š        hello from London, UK  2021-11-04 14:42:07
1  Grant    ðŸ˜µ  hello from Christchurch, NZ  2021-11-04 14:42:07
2   Luke    ðŸ‘¹        hello from London, UK  2021-11-04 14:42:08
3   Bill    ðŸ‘¹                           hi                  NaN