In [ ]:
# default_exp core

# 00 Prodb API details

> `nbdev` Example function.

In [ ]:
#hide
from nbdev.showdoc import *

## Prodb API
Create pandas dataframe for manipulation

In [ ]:
#export
#hide
import pandas as pd
import arrow
import os
from time import gmtime, strftime

## 1.0 Generate Db
Initialise database with `generate_db` call.

In [ ]:
# export

def generate_db(dbpath='db.csv', 
                cols=['col1', 'col2'],
                prefill=False):
    """Create example database"""
    if prefill:
        df = pd.DataFrame({'name': ['Sam', 'Grant'],
                           'mood': ['ðŸ˜Š', 'ðŸ˜µ'],
                           'message': ['hi', 'hello'],
                           'time_utc' : [arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
                                         arrow.utcnow().format('YYYY-MM-DD HH:mm:ss')]})
    else:
        df = pd.DataFrame(columns=cols)
    df.to_csv(dbpath, index=None)
    print(f'âœ“ðŸ’¾ {dbpath} ({os.path.getsize(dbpath)} kb)')

In [ ]:
generate_db(cols=['c1', 'c4'])
df = pd.read_csv('db.csv')
df.head()

âœ“ðŸ’¾ db.csv (6 kb)

Empty DataFrame
Columns: [c1, c4]
Index: []

In [ ]:
generate_db(prefill=True)
df = pd.read_csv('db.csv')
df.head()

âœ“ðŸ’¾ db.csv (96 kb)

    name mood message             time_utc
0    Sam    ðŸ˜Š      hi  2021-11-02 19:53:29
1  Grant    ðŸ˜µ   hello  2021-11-02 19:53:29

## 2.0 Insert Row

In [ ]:
#export

def insert_row(df, data, dbpath='db.csv'):
    new_row = pd.Series(data)
    df = df.append(new_row, ignore_index=True)
    df.to_csv(dbpath, index=None)
    return df

In [ ]:

data = {'name':'George', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)
display(df)

     name mood message             time_utc
0     Sam    ðŸ˜Š      hi  2021-11-02 19:53:29
1   Grant    ðŸ˜µ   hello  2021-11-02 19:53:29
2  George    ðŸ‘¹      hi  2021-11-02 19:53:32
3  George    ðŸ‘¹      hi                  NaN

In [ ]:
data = {'time_utc' : arrow.utcnow().format('YYYY-MM-DD HH:mm:ss'),
        'name': 'Luke', 
        'mood': 'ðŸ˜µ', 
        'message': 'hello from London, UK'}
df = insert_row(df, data)
display(df)

     name mood                message             time_utc
0     Sam    ðŸ˜Š                     hi  2021-11-02 19:53:29
1   Grant    ðŸ˜µ                  hello  2021-11-02 19:53:29
2  George    ðŸ‘¹                     hi  2021-11-02 19:53:32
3  George    ðŸ‘¹                     hi                  NaN
4  George    ðŸ‘¹                     hi  2021-11-02 20:20:31
5    Luke    ðŸ˜µ  hello from London, UK  2021-11-02 20:21:12

In [ ]:
data = {'name':'Bill', 'mood': 'ðŸ‘¹', 'message':'hi'}
df = insert_row(df, data)
display(df)

     name mood                message             time_utc
0     Sam    ðŸ˜Š                     hi  2021-11-02 19:53:29
1   Grant    ðŸ˜µ                  hello  2021-11-02 19:53:29
2  George    ðŸ‘¹                     hi  2021-11-02 19:53:32
3  George    ðŸ‘¹                     hi                  NaN
4  George    ðŸ‘¹                     hi  2021-11-02 20:20:31
5    Luke    ðŸ˜µ  hello from London, UK  2021-11-02 20:21:12
6    Bill    ðŸ‘¹                     hi                  NaN